<article class="post">
@foreach (var entry in ViewBag.Entries)
{
    <div class="row">
        <div class="columns">
            @* extension methods does not work with dynamic shit (http://stackoverflow.com/questions/19255688/why-is-extension-method-not-found-in-mvc4-razor-view)*@
            @{
                string title = entry.Title.ToString();
                string slug = entry.Slug.ToString();
            }
            <h3 class="left">@Html.ActionLink(title, "Show", "Entry", new { id = slug }, null)</h3>
            <div class="right post-date main-page-date">
                @DateTimeExtensions.ToPrettyDate(@entry.DateCreated)
            </div>
        </div>
    </div>
}
</article>
